body {
    background-color: #a6ddf1;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.row-fluid {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
}