body {
    background-color: white;
    color: black;
    font-family: 'Nunito', sans-serif;
}

.row-fluid {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

#title {
    font-size: 50px;
    letter-spacing: 2.5px;
    text-align: center;
    color: black;

}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 12px;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 80px;
    z-index: 10;
    display: block;
    opacity: 0;
}



.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.box {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin-left: 10px;
    width: auto;
}

#description-box {
    height: 350px;
}

#legend-box {
    height: 200px;
    font-size: 15px;
}

.legend {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.genre {
    background: #F47C79;
}

.subgenre {
    background: #FFE066;
}

.subsubgenre {
    background: #06D6A0;
}

.artist {
    background: #ADE25D;
}

.song {
    background: #F3F9D2;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}