body {
    background-color: white;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.row-fluid {
    display: flex;
    flex-flow: row wrap;
    align-content: space-between;
}

#title {
    font-size: 50px;
    letter-spacing: 2.5px;
    text-align: center;
    color: black;

}

.tooltip {
    background: #eee;
    box-shadow: 0 0 5px #999999;
    color: #333;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    left: 130px;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 95px;
    width: 100px;
    z-index: 10;
    display: block;
    opacity: 0;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}

.weblink {
    color: #c4f4f6;
}

.weblink:hover {
    color: #9BCACC;
}

.box {
    background-color: rgba(59, 106, 135, 0.8);
    margin-left: 10px;
    width: auto;
    border-radius: 25px;
    padding: 20px;
}

#description-box {
    margin-top: 50px;
    height: 250px;
}

#legend-box {
    margin-top: 25px;
    height: 275px;
    font-size: 15px;
}

#year-box {
    margin-top: 25px;
    height: 175px;
}

#info-box {
    margin-left: 25px;
    margin-top: 250px;
    height: 250px;
    width: 400px;
}

.legend {
    float: left;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, .2);
}

.samsung {
    background: #C6E2FF;
}

.apple {
    background: #FFC0CB;
}

.lg {
    background: #CAFF70;
}

.lenovo {
    background: #FFE4C4;
}

.zte {
    background: #FFA07A;
}

.huawei {
    background: #b19cf9;
}

.oppo {
    background: #FFEC8B;
}

.vivo {
    background: #E6E6FA;
}

.xiaomi {
    background: #EED2EE;
}

.sony {
    background: #F5DEB3;
}

.rim {
    background: #E5DACE;
}

.htc {
    background: #edfafd;
}

.nokia {
    background: #FFE4E1;
}

.other {
    background: #C1FFC1;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.pieChart {
    margin-left: 50px;
    margin-top: 100px;
}

.table {
    position:relative;  /*so children div can use 100% height and not go over */
    width:100%; /* as long as this div's parent is body it will take up whole screen */
    height:10px; /*make whatever you want */
    padding:5px; /* will make that spacing you wanted */
}

.table .cell {
    width:30%;
    height:10%;
    display:inline-block;
}

.table1 {
    position:relative;  /*so children div can use 100% height and not go over */
    width:100%; /* as long as this div's parent is body it will take up whole screen */
    height:10px; /*make whatever you want */
    padding:5px; /* will make that spacing you wanted */
}

.table1 .cell1 {
    width:50%;
    height:30%;
    display:inline-block;
}

#info-text {
}


input[type="radio"]{
    margin: 0 0px 0 55px;
}